html{
    font-family: 'Montserrat', sans-serif;
}
.container-fluid{
    position: absolute;
    display:flex;
    padding-left: 18vw;
    padding-top: 5vh;
}

.form-input{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding: 15px;
    width: 20vw;
    font-size: 15pt;
    font-weight: 400;
    border-radius: 50px;
    border: 1px solid #cccc;
}

.file-input{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding-top: 15px;
    padding-bottom: 50px;
    width: 20vw;
    border-radius: 50px;
    font-size: 15pt;
    font-weight: 400;
}


.header{
    padding-bottom: 5vh;
}

.h1-header{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #85A7A6;
    font-size: 10vh;
}

.submit{
    border:none;
    background-color: #b1b1b1;
    color:white;
    animation: ease-in;
    transition: transform .3s; 
}

.submit:hover{
    background-color: #85A7A6;
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2);
}

.error{
    height: 21vh;
    top: 18vh;
    right: 22vw;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 3em;
    padding-right: 3em;
}
li{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    list-style-type: none;
}